.gobackbtn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.gobackbtn > a {
    height: 3rem;
    width: 50dvw;
}

.gobackbtn > a > button:hover {
    cursor: pointer;
    background: lightgreen;
}

.gobackbtn > a > button {
    text-decoration: none;
    color: black;
    border: 3px black solid;
    background: none;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .gobackbtn button {
        width: 100%;
        height: 100%;
    }
}
